# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Douglas Gubert
	email = douglas.gubert@gmail.com
[init]
	defaultBranch = main
[rebase]
	updateRefs = true
